/* On screens that are between 500 and 810px, don't show the grafik, show a screenshot instead */
@media only screen and (max-width: 810px) and (min-width: 601px) {
  svg {
    display: none;
  }
  div {
    display: none;
  }

  #data {
    display: none;
  }
  img{
    position: absolute;
    left: 15%;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  #disclaimer {
    position: relative;
    top: 370px;
    margin-left: 180px;
    font: 12px sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
  }
}

/*on screens that are less than 600 how a smaller picturec*/
@media only screen and (max-width: 600px) {
  svg {
    display: none;
  }
  div {
    display: none;
  }

  #data {
    display: none;
  }
  img{
    position:absolute;
    left:25%;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  #disclaimer {
    /*display: none;*/
    position: relative;
    top: 260px;
    margin-left: 160px;
    margin-right: 60px;
    font: 12px sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 810px){
  img {
    display: none;
  }

  #disclaimer {
    display: none;
  }
}

.container {
  position:relative;
  display:inline-block;
  margin:0 auto;
}

svg {
  font: 13px sans-serif;
}

p {
  font: 10px sans-serif;
  margin-left: 35px;
  margin-top: -10px;
}

.background path {
  fill: none;
  stroke: none;
  stroke-width: 20px;
  pointer-events: stroke;
}

.foreground path {
  fill: none;
  /*stroke: #b70e0b;*/
  stroke: #b60a06;
  stroke-width: 1.8px;
}

.axis .title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;

}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.label {
  -webkit-transition: fill 125ms linear;
}

.active .label:not(.inactive) {
  font-weight: bold;
}

.label.inactive {
  fill: #ccc;
}

.foreground path.inactive {
  stroke: #ccc;
  stroke-opacity: .5;
  stroke-width: 1px;
}

.d3-tip {

  position:absolute;
  left:50%;
  bottom:25px;
  width: 130px;
  margin-left:-55px;
  height: 65px;
  font: 11px sans-serif;
  line-height: 1.5;
  /*font-weight: bold;*/
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/*
.d3-tip {

  position:absolute;
  left:75%;
  bottom:25px;
  width: 170px;
  margin-left:-73px;
  height: 73px;
  font: 13px sans-serif;
  line-height: 1.5;
  /*font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
*/

/*
.d3-tip.h1 {
  font: 12px sans-serif;
  line-height: 1.5;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
*/