body {
    font: 14px sans-serif;
    font-family: Arial;
    font-weight: normal;
    padding: 0px;
  /*padding: 15px;*/
    margin: 0px;
}

#button {
    width: 70px;
    height: 70px;
    border-color: red;
    top: -300px;
}

#zoomButton {
    position: absolute;
    top: 30px;
    left: 30px;
    display: none;
    background: #b70e0b;
    border: none;
    color: #fff;
    padding: 5px 10px 7px 10px;
    text-transform: uppercase;
}

.wrapper {
    position: relative;
}

.heading {
    font: 14px sans-serif;
    font-family: Arial;
    font-weight: bold;
    padding: 8px;
}

/*
.infobox {
    width: 200px;
    height: 200px;
    margin-top: 30px;
}
*/

audio {
    padding-left: 24px;
  /*width: 380px*/
    width: 360px;
}

.gm-style-iw a {
    text-decoration: none;
  /*padding: 15px 0;*/
    color: #b70e0b;
}

.gm-style-iw h1 {
    font: 20px sans-serif;
    font-family: Arial;
    letter-spacing: 0.5px;
    font-weight: bold;
    padding: 0 0 5px 24px;
    margin: 0;
}

.gm-style-iw h2 {
    font: 20px sans-serif;
    font-family: Arial;
  /*font-weight: bold;
  padding: 8px 0;
  margin: 0;*/
}

.gm-style-iw p {
  /*font: 16px sans-serif;*/
    font: 16px sans-serif;
    font-family: Arial;
    line-height: 130%;
  /*font-weight: bold;*/
    padding-left: 24px;
    padding-right: 8px;
    margin-top: 3px;
    margin-bottom: 8px;
}

.gm-style-iw img {
  width: 92%;
  height: 92%;
  padding: 5px 2px 13px 24px;
  /*width: 386px;
  height: 193px;*/
  /*width: 370px;
  height: 160px;*/
  /*padding: 8px   0;*/
}
/*
#googleMap{
  width: 778px;
  height: 435px;
}

#googleMap1{
  width: 582px;
  height: 288px
}
*/

#author {
    font: 10px sans-serif;
    padding: 1px;
}

.geojson {
    fill: none;
}

@media only screen and (max-width:470px) {
  .iw-content{
    width: 320px;
    /*height: 300px;
    transform: scale(0.8);*/
  }

  /*
  .gm-style-iw img {
    width: 260px;
    height: 146px;
  }
*/

  audio {
    /*padding-left: 18px;
    width: 260px;*/
  }

}

@media only screen and (max-width:480px) {
  .iw-content{
    width: 360px;
    transform: scale(0.9);
  }

  .gm-style-iw img {
    /*width: 260px;
    height: 146px;*/
    padding: 5px 2px 13px 2px;
  }

  .gm-style-iw h1 {
    padding: 0 0 5px 2px;
}

.gm-style-iw p {
    padding-left: 2px;
}

  audio {
    width: 335px;
    padding-left: 0px;
    padding-bottom: 10px;
    /*transform: scale(0.9);*/
  }

}

@media only screen and (max-width:390px) {
  .iw-content{
    width: 260px;
    transform: scale(0.8);
  }

  .gm-style-iw img {
    /*width: 260px;
    height: 146px;*/
    padding: 5px 2px 13px 2px;
  }

  .gm-style-iw h1 {
    padding: 0 0 5px 2px;
}

.gm-style-iw p {
    padding-left: 2px;
}

  audio {
    width: 100px;
    padding-left: 0px;
    padding-bottom: 10px;
    /*transform: scale(0.9);*/
  }

}

@media only screen and (max-width:320px) {
  .iw-content{
    width: 200px;
    transform: scale(0.8)
  }

  .gm-style-iw h1 {
    padding: 0 0 5px 2px;
}

.gm-style-iw p {
    padding-left: 2px;
}
  
  .gm-style-iw img {
    /*width: 150px;
    height: 85px;*/
    padding: 5px 2px 13px 2px;
  }

  audio {
    padding-left: 0px;
    padding-bottom: 0px;
    width: 180px;
    /*padding: 0px 0px 0px 0px;*/
    transform: scale(0.75);
  }

}

